data/
output/

*.tar
*.tar.gz
*.zip
*.rar
*.7z
*.xz
*.zst
*.lz4
*.lzma
*.h5ad
*.h5
*.hdf5
*.hdf
*.h5py
*.h5pydata
*.h5pydata.h5
*.h5pydata.h5py
*.h5pydata.h5pydata
*.gz
*.csv

Multiome_SETBP1/Multiome_SETBP1/
Multiome_SETBP1/cache/
Multiome_SETBP1/output/
__pycache__/
Archive/